<h1>First header</h1>
<h2>Second header</h2>
<h3>Third header</h3>
<h4>Fourth header</h4>
<h5>Fifth header</h5>
<h6>Sixth header</h6>
<span>Spanny span, the span-tiffic plain</span>
<span class="span_class_already_there">Spanny span, the span-tiffic with class</span>
<span id="span_id_already_there">Spanny span, the span-tiffic with id</span>

<span>Spanny span, the span-tiffic<span> embedded span plain</span></span>

<table class="index">
  <tbody id='line-items'>
    <tr>
      <%= hook :order_details_line_items_headers do %>
        <th><%= t('item_description') %></th>
        <th class="price"><%= t('price') %></th>
        <th class="qty"><%= t('qty') %></th>
        <th class="total"><span><%= t('total') %></span></th>
      <% end %>
    </tr>

    <% @order.line_items.each do |item| %>
      <tr>
        <%- locals = {:item => item} %>
        <%= hook :order_details_line_item_row, locals do %>
          <td width="300"><%=item.variant.product.name%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
          <td class="price"><%= number_to_currency item.price %></td>
          <td class="qty"><%=item.quantity%></td>
          <td class="total"><span><%= number_to_currency (item.price * item.quantity)%></span></td>
        <% end %>
      </tr>
    <% end if @order %>
  </tbody>
  <%= hook :order_details_subtotal do %>
    <tbody id='subtotal'>
      <tr class="total" id="subtotal-row">
        <td colspan="3"><b><%= t('subtotal') %>:</b></td>
        <td class="total"><span><%= number_to_currency( @order.item_total ) if @order %></span></td>
      </tr>
    </tbody>
  <% end %>
  <%= hook :order_details_adjustments do %>
    <tbody id="order-charges">
      <% @order.adjustments.each do |adjustment| %>
        <tr class="total">
          <td colspan="3"><strong><%= adjustment.label %></strong></td>
          <td class="total"><span><%= number_to_currency adjustment.amount %></span></td>
        </tr>
      <% end if @order %>
    </tbody>
  <% end %>
  <%= hook :order_details_total do %>
    <tbody id='order-total'>
      <tr class="total">
        <td colspan="3"><b><%= t('order_total') %>:</b></td>
        <td class="total"><span id="order_total"><%= number_to_currency( @order.total ) if @order %></span></td>
      </tr>
    </tbody>
  <% end %>
</table>

<h2><%= accurate_title %></h2>

<div id="order">
  <% if params.has_key? :checkout_complete %>
    <h3><%= t('thank_you_for_your_order') %></h3>
  <% end %>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
  <p>
    <%= link_to t('back_to_store'), root_path %>
    <% unless params.has_key? :checkout_complete %>
      | <%= link_to t('my_account'), account_path if current_user%>
    <% end %>
  </p>
</div>

<table>
  <tr>
    <td>Title</td>
    <td><%= f.text_field :name -%></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= f.text_area :description -%></td>
  </tr>
  <tr>
    <td>Icon</td>
    <td><%= f.file_field :icon -%></td>
  </tr>
  <tr>
    <td>Existing Icon</td>
    <td>
      <%= image_tag @brand.icon(:normal) %>
    </td>
  </tr>
</table>
<%= link_to( 'test_link', '/' ) %>
<%= link_to( 'test_link', '/', :class => 'test_link_class_already_there' ) %>
<%= link_to( 'test_link', '/', class: 'test_link_class_already_there_new_syntax' ) %>
<%= link_to( 'test_link', '/', :id => 'test_link_id_already_there' ) %>
